body{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
}

.page-banner{
    background-image: url(../imagens/topo.jpg);
    height: 800px;
    background-position: center;
    background-size: cover;
    position:relative;
}

.page-logo {
    margin-top: 20px;
    margin-left: 10%;
    position: absolute;
}

.page-banner li{
    display: inline-block;
    color: white;
    margin-top: 18px;
    position:relative;
    text-transform: uppercase;
    margin-left: 30px;
}

.page-banner ul{
    text-align: right;
    color: white;
    
    background-color: rgba(0, 50, 116, 0.253);
    padding: 26px;
    padding-top: 10px;
    padding-right: 50px;
}

.page-banner a:hover{
    color: white;
}
a:link{
    color:#425564;   
}
a:visited{
    color:#425564;
}
a:active{
    color:rgb(255, 255, 255);
}
.page-banner a{
    transition: color .3s linear;
    letter-spacing: 5px;
}

.page-article1 h2{
    margin-top: 10%;
    text-align:center;
    font-size: 38px;
    color: rgb(27, 27, 27);
    
}
.page-article1 p{
    margin-top: 5%;
    text-indent: 20px;
    text-align: center;
    margin-left: 8%;
    margin-right: 8%;
    font-size: 19px;
    line-height: 2;
    color: rgb(53, 53, 53);
}

.page-section{
    color: rgb(49, 49, 49);
    padding: 0 100px 50px 100px;
    overflow: auto;

    margin-top: 100px;
    margin-bottom: 100px;
}

.gallery-card{
    width: 33%;
    float: left;
    text-align: center;
 
    
  
}

.gallery-title{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 22px;
    font-weight: bold;
}

.about{
    background-color: #003d52;
    padding: 100px;
    color:white;
    background-image: url(../imagens/bg_detalhe.png);
    background-repeat: no-repeat;
    background-position: right bottom;

}

.about p{
    line-height: 1.5;
    width: 70%;
}

.about h2{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: normal;
}

#contact{
    margin-top: 90px;
    margin-bottom: 90px;
}

#contact address{
    color: #003d52;
    text-transform: uppercase;
    font-size: 30px;
    font-style: normal;
    text-align: center;
    font-weight: bold;
}



.rodape{
    margin-top: 90px;
    background-color:#003d52;
    padding: 25px;
    font-size: 12px;
    color:aliceblue;
    text-align: center;
    letter-spacing: 5px;
}


